topicos_relatorio
topicos_relatorio
texput.log
solver_report.log
solver_report.aux
run.sh
report.tex
latexEnvironment.sh
report.aux
report.log
run.sh
topicos_relatorio
run.sh
topicos_relatorio
run.sh
